#########################
# general
#########################

[Bb]in/
[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
*.user
*.userosscache
*.sln.docstates
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# Android Studio
*.iml

#########################
# miscellaneous
#########################

.mailmap


example_ofxkeyEvent/.vs/example_ofxkeyEvent/v15/Browse.VC.db
example_ofxkeyEvent/.vs/example_ofxkeyEvent/v15/Browse.VC.opendb
example_ofxkeyEvent/.vs/example_ofxkeyEvent/v15/Solution.VC.db
example_ofxkeyEvent/.vs/example_ofxkeyEvent/v15/Solution.VC.db-shm
example_ofxkeyEvent/.vs/example_ofxkeyEvent/v15/Solution.VC.db-wal
example_ofxkeyEvent/example_ofxkeyEvent.sln
example_ofxkeyEvent/example_ofxkeyEvent.vcxproj
example_ofxkeyEvent/example_ofxkeyEvent.vcxproj.filters
example_ofxkeyEvent/icon.rc
